---
title: "Information paiement"
preheader: "Le paiement a bien été effectué. Veuillez trouvez votre reçu de paiement dans ce lien."
bodyClass: bg-slate-50
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-slate-50">
          <table class="w-150 sm:w-full">
            <tr>
              <td class="p-12 sm:py-8 sm:px-6 text-center">
                <a href="https://oresto.app/">
                  <img src="https://backend.aymericdo.ovh/loirephemereback/logo.png" width="70" alt="Logo"
                    class="max-w-full align-middle [border:0] [border-radius:10px]">
                </a>
              </td>
            </tr>
            <tr>
              <td align="center" class="sm:px-6">
                <table class="w-full">
                  <tr>
                    <td class="p-12 sm:px-6 bg-white text-slate-700 text-base text-left leading-6 rounded shadow-sm">
                      <p>
                        Féliciations,
                      </p>
                      <p class="text-2xl sm:leading-8 text-black font-semibold m-0 mb-6">
                        Le paiement a bien été effectué.
                      </p>
                      <p class="m-0 mb-6">
                        Le paiement concerne la commande #@{{ reference }} pour une somme de @{{ price }}€.
                      </p>
                      <p class="m-0 mb-6">
                        Veuillez trouvez votre reçu de paiement dans <a href="@{{ receiptUrl }}" target="_blank">ce lien</a>.
                      </p>
                      <div class="leading-full">
                        <table class="w-full" role="separator">
                          <tr>
                            <td class="py-8">
                              <div class="bg-slate-200 h-px leading-px">&zwnj;</div>
                            </td>
                          </tr>
                        </table>
                        <p class="m-0 mb-4">
                          Si vous n'avez pas demandé cet e-mail, vous pouvez l'ignorer en toute sécurité.
                        </p>
                        <p class="m-0 mb-4">
                          Merci, <br />Aymeric
                        </p>
                    </td>
                  </tr>
                  <tr role="separator">
                    <td class="h-12"></td>
                  </tr>
                  <tr>
                    <td class="text-center text-slate-600 text-xs px-6">
                      <p class="m-0 mb-4">
                        Oresto.app ©{{ new Date().getFullYear().toString() }}
                      </p>
                      <p class="m-0 italic">
                        Made with ❤️ by <a href="https://www.instagram.com/aymericdo/">@aymericdo</a>
                      </p>
                      <p class="cursor-default">
                        <a href="https://www.instagram.com/oresto.app/"
                          class="text-indigo-700 [text-decoration:none] hover:[text-decoration:underline]">Instagram</a>
                        &bull;
                        <a href="https://www.facebook.com/profile.php?id=100089194903294"
                          class="text-indigo-700 [text-decoration:none] hover:[text-decoration:underline]">Facebook</a>
                        &bull;
                        <a href="https://oresto.app/page/about"
                          class="text-indigo-700 [text-decoration:none] hover:[text-decoration:underline]">À propos</a>
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
